<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Galan's Musings | {{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>{% include "css/theme.css" %}</style>
  {# <script src="main.js"></script> #}
</head>
<body>
  <header class="site-header">
  <nav></nav>
  <h1>A Collection of Musings</h1>
  <h1 class="shadow-header">A Collection of Musings</h1>
  </header>

  {{ content | safe}}
</body>
</html>