---
layout: layouts/base.njk
---
{% from "macros/article.njk" import article %}

<section id="intro">
  <div class="caret">❭</div>
  <div>{{content | safe}}</div>
</section>

<main>
  {% for post in collections.post | reverse %}
      {{ article(post.templateContent, post.data.title, post.date, url=post.url) }}
  {% endfor %}
</article>