---
layout: layouts/base.njk
---
{% from "macros/article.njk" import article %}

{% include "templates/header.njk" %}

<main>
  {% for post in collections.post | reverse %}
      {{ article(post.templateContent, post.data.title, post.date, url=post.url) }}
  {% endfor %}
</article>